<head>
	<meta charset="utf-8">

	<!--My CSS --> 
	<link rel="stylesheet" href="/css/profile.css"> 
	
	<!--My JS -->	
	<title>Profile</title>

	<script src="/js/profile.js"></script>

</head>

<body>
	<main class="mdl-layout__content" ng-controller="StyleController">
		<div ng-controller="ProfileController">
			<header class="upper_container">
				<div class="cover_photo_container">
					<img class="cover_photo" ng-src="{{cover_photo}}">
				</div>
				<img class="profile_photo" ng-src="{{profile_photo}}">
				<span class="profile_name mdl-color-text--white"> <%= uname %> </span>
				<div ng-class="color_mdl_class_profile" class="upper_bar">
					<div class="upper_bar_content mdl-color-text--white">
						<%= motto ? motto : '' %>
					</div>
					<div class="upper_bar_content mdl-color-text--white" style="float: right;">
						{{ birthday | date: "dd-MMM"}}
						<i class="mdi mdi-cake-variant"></i>
					</div>
				</div>
			</header>
		</div>

		<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
			
			<div class="tab_bar_container">	
				<div class="tab_bar mdl-tabs__tab-bar" ng-class="color_mdl_class_profile_contrast">
					<a href="#user-all-posts" class="mdl-color-text--white mdl-tabs__tab is-active">
						<i class="mdi mdi-message-text-outline"></i>
					</a>
					<a href="#user-all-favorites" class="mdl-color-text--white mdl-tabs__tab">
						<i class="mdi mdi-star"></i>
					</a>
					<a href="#user-all-friends" class="mdl-color-text--white mdl-tabs__tab">
						<i class="mdi mdi-account-multiple-outline"></i>
					</a>
					<a href="#user-all-groups" class="mdl-color-text--white mdl-tabs__tab">
						<i class="mdi mdi-chart-bubble"></i>
					</a>
				</div>
			</div>

			<div class="mdl-tabs__panel is-active" id="user-all-posts">
				<%- include profile_posts.ejs %>
			</div>

			<div class="mdl-tabs__panel" id="user-all-favorites">
				<%- include profile_favorites.ejs %>
			</div>

			<div class="mdl-tabs__panel" id="user-all-friends" ng-controller="AllFriendsController">
				<%- include profile_friends.ejs %>					
			</div>
			
			<div class="mdl-tabs__panel" id="user-all-groups" ng-controller="AllGroupsController">
				<%- include profile_groups.ejs %>			
			</div>

			</div>
		</div>
	</main>
</body>
