<div class="mdl-grid">

	<div class="mini_card mdl-card mdl-cell mdl-cell--2-col mdl-shadow--4dp">
		<div class="mdl-card__supporting-text">
			<div class="card_photo upload_photo_container <%= styleSwitchEJS(style_profile) %>">
				<i class="mdi mdi-camera upload_photo_up mdl-color-text--white"></i>
			</div>
		</div>

		<div "mini_card_bar mdl-card__title mdl-card--expand <%= styleSwitchEJS(style_profile) %>">
			<div class="mini_bar_content mdl-color-text--white">
				<a class="mdl-color-text--white">
					New Group
				</a>
			</div>
		</div>

		<div class="mdl-card__actions mdl-card--border">
			<div class="button_container">
				<button class="button_show mdl-button mdl-js-button mdl-button--raised mdl-button--accent <%= styleSwitchEJS(style_profile) %>"
				> <i class="material-icons">done</i>
				</button>
				<button class="button_hidden mdl-button mdl-js-button mdl-button--raised mdl-button--accent <%= styleSwitchEJS(style_profile) %>"
				> <i class="material-icons">sentiment_satisfied</i>
				</button>
			</div>
		</div>
	</div>



	<div ng-repeat="group in allGroups" class="mini_card mdl-card mdl-cell mdl-cell--2-col mdl-shadow--4dp">
		<div class="mdl-card__supporting-text">
			<img class="card_photo" ng-src="{{group.profile_photo}}">
		</div>

		<div class="mini_card_bar mdl-card__title mdl-card--expand <%= styleSwitchEJS(style_profile) %>">
			<div class="mini_bar_content mdl-color-text--white">
				<a class="mdl-color-text--white">
					{{group.name}}
				</a>
			</div>
		</div>

		<div class="mdl-card__actions mdl-card--border">
			<div class="button_container">
				<button class="button_show mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-class="group.following ? '<%= styleSwitchEJS(style_profile) %>' : 'mdl-color--red-600'"
				> <i class="material-icons">{{group.following ? 'done' : 'close'}}</i>
				</button>
				<button class="button_hidden mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-color--red-600" ng-class="group.following ? 'mdl-color--red-600' : '<%= styleSwitchEJS(style_profile) %>'">
					<i class="material-icons">{{group.following ? 'close' : 'done'}}</i>
				</button>
			</div>
		</div>
	</div>
</div>		