<head>
	<meta charset="utf-8">

	<!--My CSS --> 
	<link rel="stylesheet" href="/css/settings.css"> 
	
	<!--My JS -->	
	<title>Settings - <%= login %></title>

	<script src="/js/settings.js"></script>

</head>

<body>
	<main class="mdl-layout__content" ng-controller="SettingsController">
		<div>
			<header class="upper_container">
				<div class="cover_photo_container">
					<img class="cover_photo" src="<%= ucover %>">
				</div>
				<img class="profile_photo" src="<%= uphoto %>">
				<span class="profile_name mdl-color-text--white"> <%= uname %> </span>
				<div class="upper_bar" ng-class="color_mdl_class_profile">
					<div class="upper_bar_content mdl-color-text--white">
						@<%= login %>
					</div>
					<div class="upper_bar_content mdl-color-text--white" style="float: right;">
						<%= birthday.getDate()%>
						<%= birthday.toLocaleString("en-us", { month: "short" })%>
						<i class="mdi mdi-cake-variant"></i>
					</div>
				</div>
			</header>
		</div>

		<div class="tab_bar_container">	
			<div class="tab_bar mdl-tabs__tab-bar" ng-class="color_mdl_class_profile_contrast">
				<a class="mdl-color-text--white mdl-tabs__tab">
					<i class="mdi mdi-airballoon"></i>
				</a>
			</div>
		</div>

		<div class="mdl-grid mdl-shadow--2dp">
			
			<div class="mdl-cell mdl-cell--1-col"></div>

			<div class="mini_card mdl-card mdl-cell mdl-cell--10-col mdl-shadow--4dp">
				<div class="mdl-grid">

					<div class="mdl-card__supporting-text">
						<h2>Settings</h2>
					</div>
					<div class="mdl-card__actions mdl-card--border"></div>

					<div class="mdl-cell mdl-cell--6-col">	
						<div class="mdl-card__actions">
							<div class="mdl-card__supporting-text">
								<h4 class="noselect">Profile Color</h4>
							</div>
							<p>
								<input class="mdl-slider mdl-js-slider" type="range" id="slider1" min="0" max="6" step="1" ng-model="color_profile" ng-change="changeColorProfile()">
							</p>
						</div>
					</div>

					<div class="mdl-cell mdl-cell--6-col">
						<div class="mdl-card__actions">
							<div class="mdl-card__supporting-text">
								<h4 class="noselect">Search Bar Color</h4>
							</div>
							<p>
								<input class="mdl-slider mdl-js-slider" type="range" id="slider2" min="0" max="6" step="1" ng-model="color_search" ng-change="changeColorSearch()">
							</p>
						</div>
					</div>

					<div class="mdl-card__actions mdl-card--border">
					</div>

					<div class="mdl-cell mdl-cell--6-col">
						<div class="mdl-card__supporting-text">
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 100%">
								<input class="mdl-textfield__input" type="password" id="new_password" ng-model="new_password" maxlength="20" autocomplete="off">
								<label class="mdl-textfield__label" for="new_password">New Password</label>
								<span class="mdl-textfield__error">Invalid Password!</span>
							</div>

							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 100%">
								<input class="mdl-textfield__input" type="text" id="new_name"
								ng-model="new_name" maxlength="20" pattern="[A-Za-z]{8,20}" autocomplete="off">
								<label class="mdl-textfield__label" for="new_name">Change Your Name</label>
								<span class="mdl-textfield__error">Invalid name!</span>
							</div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 100%">
								<input class="mdl-textfield__input" type="text" id="new_date" pattern="\d{1,2}/\d{1,2}/\d{4}" ng-model="new_date"autocomplete="off" maxlength="10">
								<label class="mdl-textfield__label" for="new_date">Change Birthday (dd/mm/aaaa)</label>
								<span class="mdl-textfield__error">Invalid date!</span>
							</div>
						</div>
					</div>

					<div class="mdl-cell mdl-cell--6-col">
						<div class="mdl-card__supporting-text">
							<form action="#">
								<div class="mdl-textfield mdl-js-textfield" style="width: 100%; font-size: 150%">
									<textarea class="mdl-textfield__input" type="text" rows= "5" style="width: 100%; font-size: 140%" ng-model="description" id="description"></textarea>
									<label class="mdl-textfield__label" for="description">New User description</label>
								</div>
							</form>
						</div>
					</div>

					<div class="mdl-card__actions mdl-card--border">
						<div class="mdl-card__actions">
							<p>
								<label class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="upavatar">
									<b class="mdl-color-text--white">upload avatar</b>
									<input id="file_input_file" accept="image/jpg,image/jpeg" style="display: none" type="file"/>
								</label>
								&nbsp;&nbsp;
								&nbsp;&nbsp;
								<label class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="upcover">
									<b class="mdl-color-text--white">upload cover</b>
									<input id="file_input_file" accept="image/jpg,image/jpeg" style="display: none" type="file"/>
								</label>

								<div class="mdl-tooltip mdl-tooltip--large" for="upavatar">
									.jpg only <br> 2MB max
								</div>

								<div class="mdl-tooltip mdl-tooltip--large" for="upcover">
									.jpg only <br> 2MB max
								</div>
							</p>
						</div>
					</div>

					<div class="mdl-card__actions mdl-card--border">
						<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-click="saveSettings()">
							<b class="mdl-color-text--white">Save</b>
						</button>
						<button style="float: right" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--red-700" ng-click="deleteProfile()">
							<b class="mdl-color-text--white">Delete my profile</b>
						</button>					
					</div>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--1-col"></div>
		</div>
	</main>
</body>
